<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/bunny.css" type="text/css">
    <title>POKE | Bunny Bubble Bowl</title>
  </head>
  <body>
    <div id="loader">
        <div class="bunny">
            <img src="../assets/images/bunny.gif" alt="bunny running">
        </div>
    </div>
    <nav id="nav">
        <div class="navbar" onclick="this.classList.toggle('active')">
            <div class="hamburger-toggle">
                <div class="hamburger"></div>
            </div>
            <div class="logo"><img src="../assets/images/logo.png" alt=""></div>    
            <ul class="navbar-menu">
                <li><a href="/">HOME</a></li>
                <li><a href="./bowl.html">POKE</a></li>
                <li><a href="./bubble.html">BUBBLE TEA</a></li>
                <li><a href="./bunny.html">BUNNY</a></li>
                <li><a href="./staff.html">STAFF</a></li>
                <li><a href="./galleria.html">GALLERIA</a></li>
                <li><a href="./contatti.html">CONTATTI</a></li>
                <li><a href="./storia.html">STORIA</a></li>
            </ul>
        </div>        
    </nav>
    <main id="app">
        <h1>Conosci tutti i nostri fantastici coniglietti, dai testa di leone agli olandesi</h1>
        <h3>Testa di leone</h3>
        <div class="jumbo">
            <aside class="main-image">
                <img class="sabrina"  src="../assets/images/betty.jpg" alt="betty image" draggable="false">
            </aside>
            <article class="content">
                <h1>Why Betty?</h1>
                <div class="descr">
                    <span class="section-name">BETTY</span>
                    <p class="descr-color">
                        Petting <mark>Betty</mark> is my first choice as she is very soft so it's very relaxing to touch her. She's very calm and cute, things that make her the perfect <mark>bunny</mark>!
                    </p>
                </div>
            </article>    
        </div>
        <h2 class="text-center">Gallery</h2>
        <section class="proofs">
            <article class="left">
                <p class="descr">
                    <span class="section-name">EATING</span>
                    Here's a photo about me, <mark>Betty</mark> and Petra as Betty eats all the <mark>treats</mark> and leaves <mark>nothing</mark> for Petra!
                </p>
            </article>
            <aside>
                <img class="sabrina" src="../assets/images/betty2.jpg" alt="betty image" draggable="false">
            </aside>
        </section>
        <section class="proofs">
            <aside>
                <img class="sabrina" src="../assets/images/betty1.jpg" alt="betty image" draggable="false">
            </aside>
            <article>
                <p class="descr">
                    <span class="section-name">RELAX</span>
                    Here's a photo about me and <mark>Betty</mark> comforting eachother.
                </p>
            </article>
        </section>
    </main>
    <footer id="foot">
        <h2>Bunny Bubble Bowl</h2>
        <h1> Ogni giorno un tocco di freschezza. <br>Consigli leggeri, bubble tea da sogno e poke bowl tutte da creare.</h1>
        <button class="scrollTop" onClick="window.scrollTo({top:0, behavior:'smooth'})">
            &#94;
        </button>
    </footer>
    <script src="../assets/js/animation.js"></script>
    <script>

    </script>
  </body>
</html>