<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/galleria.css" type="text/css">
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <title>GALLERIA | Bunny Bubble Bowl</title>
  </head>
  <body>
    <div id="loader">
        <div class="bunny">
            <img src="../assets/images/bunny.gif" alt="bunny running">
        </div>
    </div>
    <nav id="nav">
        <div class="navbar" onclick="this.classList.toggle('active')">
            <div class="hamburger-toggle">
                <div class="hamburger"></div>
            </div>
            <div class="logo"><img src="../assets/images/logo.png" alt=""></div>    
            <ul class="navbar-menu">
                <li><a href="/bunny-bubble-bowl">HOME</a></li>
                <li><a href="./bowl.html">POKE</a></li>
                <li><a href="./bubble.html">BUBBLE TEA</a></li>
                <li><a href="./bunny.html">BUNNY</a></li>
                <li><a href="./staff.html">STAFF</a></li>
                <li><a href="./galleria.html">GALLERIA</a></li>
                <li><a href="./contatti.html">CONTATTI</a></li>
                <li><a href="./storia.html">STORIA</a></li>
            </ul>
        </div>        
    </nav>
    <main id="app">
        <div id="gallery">
            <h1>Ecco i fantastici coniglietti che troverai nel nostro negozietto</h1>
            <ul>
                
            </ul>
            <h2 class="discover">Scopri lo staff principale, tra cui l'allevatrice che si occupa dei conigli.<button class="section-btn" style="margin-left: 50px;" onclick="top.location.href = './staff.html'">SCOPRI</button></h2>
        </div>
    </main>
    <footer id="foot">
        <div class="foot-head">
            <div class="foot-logo">
                <img src="../assets/images/logo.png" alt="bbb logo">
                <h2>Bunny Bubble Bowl</h2>
            </div>
            <ul class="foot-menu">
                <li class="main-link" onclick="top.location.href = '/bunny-bubble-bowl'">HOME</li>
                <li class="main-link" onclick="top.location.href = './bowl.html'">POKE</li>
                <li class="main-link" onclick="top.location.href = './bubble.html'">BUBBLE TEA</li>
            </ul>
            <ul class="foot-menu">
                <li class="main-link" onclick="top.location.href = './bunny.html'">BUNNY</li>
                <li class="main-link" onclick="top.location.href = './galleria.html'">GALLERIA</li>
                <li class="main-link" onclick="top.location.href = './storia.html'">STORIA</li>
            </ul>
            <ul class="foot-menu">
                <li class="main-link" onclick="top.location.href = './staff.html'">STAFF</li>
                <li class="main-link" onclick="top.location.href = './contatti.html'">CONTATTI</li>
            </ul>
        </div>
        <p> Ogni giorno un tocco di freschezza. <br>Consigli leggeri, bubble tea da sogno e poke bowl tutte da creare.</p>
        <p class="copyright">Tutti i diritti riservati a Bunny Bubble & Bowl 2025 | Powered with love by Sabrina Usvelli</p>
        <button class="scrollTop" onClick="window.scrollTo({top:0, behavior:'smooth'})">
            <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 500.38"><path d="m249.85 218.7-101.34 15.51c-3.8.57-7.81-.46-10.93-3.18-5.65-4.93-6.25-13.51-1.33-19.16L316.77 4.64l1.6-1.53c5.76-4.77 14.32-3.96 19.09 1.8l171.46 207.23c2.41 2.99 3.59 6.96 2.87 11.04-1.32 7.34-8.36 12.23-15.7 10.92l-85.89-15.46c-2.1 17.98-6.57 37.62-13.36 57.81-17.7 52.69-51.45 110.06-100.41 153.45-49.45 43.82-114.31 73.5-193.78 70.24-28.94-1.18-59.77-6.77-92.41-17.65C4.96 481.15.78 476.67.1 470.92c-.88-7.43 4.44-14.19 11.88-15.07 100.17-11.93 158.25-50.57 191.95-98.33 30.13-42.67 41.39-93.26 45.92-138.82z"/></svg>
        </button>
    </footer>
    <script src="../assets/js/animation.js"></script>
    <script>
        const images = [
            'betty-daphne.jpg',
            'betty-daphne2.jpg',
            'betty-meili-petra.jpg',
            'betty-meili-petra2.jpg',
            'betty-meili.jpg',
            'betty.jpg',
            'betty2.jpg',
            'bunnies.jpg',
            'daphne.jpg',
            'duchessa.jpg',
            'meili1.jpg',
            'meili2.jpg',
            'meili3.jpg',
            'meili4.jpg',
            'pandora.jpg',
            'petra.jpg',
            'priscilla.jpg',
            'subaru-typhon.jpg',
            'typhon1.jpg',
            'typhon2.jpg',
            'typhon3.jpg',
            'typhon4.jpg',
            'conigliette.jpg',
            'petrina.jpg',
            'elizabeth.jpg',
            'jolyne.jpg',
        ]
        images.forEach(img=>{
            let li = `
                <li class="gallery-item"><img src="../assets/images/bunnies/${img}" alt="gallery image" loading="lazy" draggable="false"></li>
            `
            document.querySelector("#gallery ul").insertAdjacentHTML("beforeend", li)
        })
    </script>
  </body>
</html>
