<div id="jumbo">
    <div class="bg">
        <img src="" alt="">
    </div>
</div>
<h1 class="floating-title" id="title1">Bunny</h1>
<h1 class="floating-title" id="title2">Bubble</h1>
<h1 class="floating-title" id="title3">& Bowl</h1>
<div id="header" class="slide-size">
    <div class="wrapper">
        <p class="title fade-in-1">Bunny<span class="fade-in-2"><img src="/bunny-bubble-bowl/images/jumbo-link.svg" alt="white curve"></span></p>
        <p class="title fade-in-3">Bubble<span class="fade-in-4"><img src="/bunny-bubble-bowl/images/jumbo-link.svg" alt="white curve"></span></p>
        <p class="title fade-in-5">Bowl</p>
        <div class="play-button fade-in-6">
            <img src="/bunny-bubble-bowl/images/logo.png" draggable="false" alt="logo">
        </div>    
    </div>
</div>